* { padding: 0; margin: 0; }
.container { display: grid; grid-template-rows: 100px 1fr 80px; min-height: 100vh; }
.header { background-color: #fab4b4; }
.footer { background-color: #4b4b4b; color: #fff; }